<section class="contact">
    <ul>
        <div class="contact-infos">
            <div class="contact-info">
                <li class="contact-name">{{ name }}</li>
                <li>{{ cellPhone }}</li>
            </div>
            <div class="contact-info">
                <li>{{ enterprise }}</li>
                <li>{{ status }}</li>
            </div>
        </div>
        <li>
            <button>
                <img src="/assets/edit.png" alt="">
            </button>
            <button>
                <img src="/assets/delete.png" alt="">
            </button>
        </li>
    </ul>
</section>
