.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header img {
    width: 50%;
    height: 50%;
}

.logo-separator {
    width: 20%;
    color: #32BFEE;
}

.header h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #046DB3;
}

.header-separator {
    width: 100%;
    color: #32BFEE;
    margin: 40px 0;
}