.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #32BFEE;
    padding-bottom: 40px;
}

.header img {
    width: 50%;
    height: 50%;
}

.logo-separator {
    width: 20%;
    color: #32BFEE;
}

.header h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #046DB3;
    margin-bottom: 0;
}
