.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header img {
    width: 50%;
    height: 50%;
}

.header hr {
    width: 20%;
    color: #32BFEE;
}

.header h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #046DB3;
}
