input {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    color: #212529;
    text-align: center;
}